body {
  background-color: #ededed;
  margin: 0;
}
table {
  border: 2px solid #000000;
  border-collapse: collapse;
  margin: 100px auto;
  background-color: #ffffff;
}
tr.thirdRow td {
  border-bottom: solid 1px #000000;
}
td {
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border: solid 1px #0f0;
}
td input {
  border: 0px;
  width: 2em;
  height: 2em;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  font-size: 4.5vw;
  padding: 0;
}
td input [value=""] {
  background-color: #ededed;
}
td input.guess {
  color: #0000ff;
}
td input.error {
  color: #ff0000;
}
td.thirdCol {
  border-right: solid 1px #000000;
}
